<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>mypi</name>
  <description></description>
  <remoteFS>/home/mypi</remoteFS>
  <numExecutors>4</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.973.v0fa_8c0dea_f9f">
    <host>172.88.22.70</host>
    <port>22</port>
    <credentialsId>471b1023-fb7f-484f-9a61-050bda433cf9</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>ubuntu python java linux mypi docker kubernetes</label>
  <nodeProperties/>
</slave>